<header>
  <h1>Ads - {{pageTitle}}</h1>
</header>
<div id="wrapper">
  <div class="row">
    <div class="col-md-3">
      <left-public-sidebar></left-public-sidebar>
    </div>
    <div class="col-md-6">
      <public-ads></public-ads>
    </div>
    <div class="col-md-3">
      <categories></categories>
      <towns></towns>
    </div>
  </div>
</div>




<!-- <div ng-repeat="currentTuple in adTuples">
  <div ng-repeat="currentAd in currentTuple">
    <ap-ad-content ad-object="currentAd"></ap-ad-content>
  </div>
  <hr>
</div> -->